<launch>
	<node pkg="push_planning" type="push_planner_node" name="push_planner_node" output="screen">
		<param name="run_test" value="false"/>
	</node>

	<!--<node pkg="push_planning" type="push_planner_visualization.py" name="push_planner_visualization"/>-->
	<node pkg="push_planning" type="interactive_marker.py" name="push_planner_interaction">
		<param name="start_pose_is_interactive" value="true"/>
	</node>
	<node pkg="push_prediction" type="prediction_node.py" name="prediction_node"/>
</launch>
