<launch>
	<include file="$(find ur5_push_setup)/launch/ur5_setup_bringup.launch">
		<arg name="ur5_joint_ranges_config" value="$(find ur5_push_setup)/config/elbow_up-restricted.yaml"/>
		<arg name="ur5_floating_table" value="true"/>
	</include>

	<include file="$(find object_recognition)/launch/object_recognition.launch">
		<arg name="demo_mode" value="false"/>
	</include>
</launch>
