<launch>
	<param name="push_result_directory" command="$(find ur5_push_setup)/scripts/create_dump_dirs.sh"/>

	<include file="$(find ur5_push_setup)/launch/ur5_setup_bringup.launch">
		<arg name="ur5_joint_ranges_config" value="$(find ur5_push_setup)/config/elbow_up-restricted.yaml"/>
		<arg name="ur5_floating_table" value="false"/>
	</include>

   	<param name="move_group/constraint_approximations_path" value="$(find ur5_push_setup)/cadb"/>

	<include file="$(find tams_ur5_pushing_object_localization)/launch/object_localization.launch">
		<arg name="demo_mode" value="false"/>
	</include>

	<node pkg="tams_ur5_pushing_object_localization" type="image_dump_service" name="image_dump_service"/>

	<node pkg="tams_ur5_push_execution" type="push_execution" name="push_execution_service">
		<param name="take_snapshots" value="true"/>
		<param name="execute" value="true"/>

		<!-- Sampling parameters -->
		<param name="min_table_distance" value="0.02" />

		<param name="tip_length" value="0.08" />
		<param name="tip_radius" value="0.004" />

		<param name="safety_range" value="0.05" />
		<param name="emergency_range" value="0.3" />
	</node>

</launch>
