<launch>
	<param name="push_result_directory" command="$(find ur5_push_setup)/scripts/create_dump_dirs.sh"/>

	<include file="$(find tams_ur5_setup_moveit_config)/launch/demo.launch">
		<arg name="ur5_joint_ranges_config" value="$(find ur5_push_setup)/config/elbow_up-restricted.yaml"/>
	</include>

   	<param name="move_group/constraint_approximations_path" value="$(find ur5_push_setup)/cadb"/>

	<include file="$(find ur5_pushing_object_recognition)/launch/object_recognition.launch">
		<arg name="demo_mode" value="true"/>
	</include>

	<node pkg="tams_ur5_push_execution" type="push_execution" name="push_execution_service">
		<param name="take_snapshots" value="false"/>
		<param name="execute" value="true"/>
	</node>

	<include file="$(find push_planning)/launch/push_planning_demo.launch"/>
</launch>
