<launch>
	<param name="push_result_directory" command="$(find tams_ur5_push_bringup)/scripts/create_dump_dirs.sh"/>

	<include file="$(find tams_ur5_setup_moveit_config)/launch/demo.launch">
		<arg name="ur5_joint_ranges_config" value="$(find tams_ur5_push_bringup)/config/elbow_up-restricted.yaml"/>
	</include>

	<param name="move_group/constraint_approximations_path" value="$(find tams_ur5_push_bringup)/cadb"/>

	<include file="$(find tams_ur5_push_object_localization)/launch/object_localization.launch">
		<arg name="demo_mode" value="true"/>
	</include>

	<node pkg="tams_ur5_push_execution" type="push_execution" name="push_execution_service">
		<param name="take_snapshots" value="false"/>
		<param name="execute" value="true"/>
	</node>

	<include file="$(find tams_ur5_push_planning)/launch/push_planning_demo.launch"/>
</launch>
