<launch>
	<node pkg="tams_ur5_push_planning" type="push_planner_node" name="push_planner_node" output="screen">
		<param name="spawn_collision_object_test" value="true"/>
    <rosparam command="load" file="$(find tams_ur5_push_planning)/config/planning.yaml"/>
	</node>

	<node pkg="tams_ur5_push_planning" type="interactive_marker.py" name="push_planner_interaction" output="screen">
		<param name="interactive_start_state" value="false"/>
	</node>
</launch>
